<%- include('../partials/header.ejs') %>


<div class=" mb-5 w-100 " style="">
    <div id="carouselExampleCaptions" class="carousel carousel-fade  slide w-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            
            <% locals.banner.forEach(banner => { %>
                <a href="/products?encodedCategory=<%= banner.category %>">
                    <div class="carousel-item active">
                        <img src="/<%= banner.image %>" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><%= banner.title %></h5>
                            <p><%= banner.subtitle %></p>
                        </div>
                    </div>
                </a>
            <% }) %>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 f-flex justify-content-center">
            <div class="center-div f-flex justify-content-center">
                <h1 class="title">Categories for Men</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row mb-3">
        <!-- Cards for larger screens -->
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Hoodies & Sweetshirt') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm1.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Shirts') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm2.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Shirts</h5>
                 
                    </div>
                </div>
            </div>
        </a>
        
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Trousers') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/cat3.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Trousers</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedSubCategory=<%= encodeURIComponent('Casual Shirts') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/cat4.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay ">
                        <h5 class="card-title1">Casual Shirts</h5>
          
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="container">
    <div class="row ">
        <!-- Cards for larger screens -->
        <a class="col-md-3 col-6 p-1" href="/products?encodedSubCategory=<%= encodeURIComponent('Polo') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/polo.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Polo</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('T-shirts & Tops') %>" >
            <div >
                <div class="card rounded-card">
                    <img src="/images/cat6.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">T-Shirt</h5>
                 
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('T-shirts & Tops') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/cat7.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">T-Shirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Jeans') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm8.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay ">
                        <h5 class="card-title1">Jeans</h5>
          
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 f-flex justify-content-center">
            <div class="center-div f-flex justify-content-center">
                <h1 class="title">Categories for Womens</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <!-- Cards for larger screens -->
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Hoodies & Sweetshirt') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/w1.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Shirts') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/w2.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Shirts</h5>
                 
                    </div>
                </div>
            </div>
        </a>
        
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Trousers') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/w3.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Trousers</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedSubCategory=<%= encodeURIComponent('Casual Shirts') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/w4.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay ">
                        <h5 class="card-title1">Casual Shirts</h5>
          
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="container">
    <div class="row ">
        <!-- Cards for larger screens -->
        <a class="col-md-3 col-6 p-1" href="/products?encodedSubCategory=<%= encodeURIComponent('Polo') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/w5.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Polo</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Hoodies & Sweetshirt') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm1.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Hoodies & Sweetshirt') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm1.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-3 col-6 p-1" href="/products?encodedCategory=<%= encodeURIComponent('Hoodies & Sweetshirt') %>">
            <div >
                <div class="card rounded-card">
                    <img src="/images/catm1.webp" alt="Card Image" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                     
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<%- include('../partials/footer.ejs') %>