<%- include('../partials/header.ejs') %>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <!-- <a href="#" class="list-group-item list-group-item-action active"
          >User Menu</a
        > -->
        <!-- <a href="#" class="list-group-item list-group-item-action"
          >User Profile</a
        > -->
        <a href="/account" class="list-group-item list-group-item-action">My Info</a>
        <a href="/orderList" class="list-group-item list-group-item-action">My Orders</a>
        <a href="#" class="list-group-item list-group-item-action">Wishlist</a>
        <a href="#" onclick="logout()" class="list-group-item list-group-item-action">Logout</a>
      </div>
    </div>
    <div class="col-md-9">
        <div class="card-body border  rounded mb-3 w-100">
            
            <div class="card-body p-4 m-0 w-100 bg-white">
                <div class="row p-3 bg-light mb-2">
                    <div class="col-6">
                      <h6 class="mb-2">Ordered date: <%= orders.orderDate.toLocaleDateString() %></h6>
                      <h6>
                          <% if (orders.orderStatus === 'Delivered') { %>
                              Delivered on: <%= orders.changeDate.toLocaleDateString() %>
                          <% } else if (orders.orderStatus === 'Cancel Requested' || orders.orderStatus === 'Cancelled') { %>
                              Cancelled Date: <%= orders.changeDate.toLocaleDateString() %>
                          <% } else if (orders.orderStatus === 'Return Requested') { %>
                              Returned Date: <%= orders.changeDate.toLocaleDateString() %>
                          <% } else if (orders.orderStatus === 'Order confirmed' || orders.orderStatus === 'Shipping') { %>
                              Estimated delivery date: <%= new Date(orders.orderDate.getTime() + 7 * 24 * 60 * 60 * 1000).toLocaleDateString() %>
                          <% } else { %>
                              Estimated delivery date: <%= new Date(orders.orderDate.getTime() + 7 * 24 * 60 * 60 * 1000).toLocaleDateString() %>
                          <% } %>
                      </h6>
                      
                    </div>
                    <div class="col-6 ">
                        <div class="d-flex justify-content-end">
                            <h6 class="mb-2">Ordered status: <%= orders.orderStatus %></h6>
                        </div>
                        <div class="d-flex justify-content-end" >
                          <button class="btn3 btn-danger" <% if (orders.orderStatus === 'Cancel Requested' || orders.orderStatus === 'Cancelled' || Date.now() > new Date(orders.changeDate.getTime() + 7 * 24 * 60 * 60 * 1000) || orders.orderStatus === 'Return Requested' || orders.orderStatus === 'Returned') { %>
                              style="display: none;"
                          <% } else { %>
                              style="display: block;"
                              onclick="updateStatus('<%= orders._id %>')"
                          <% } %> >
                              <% if (orders.orderStatus === 'Delivered') { %>
                                  Return Order
                              <% } else { %>
                                  Cancel Order
                              <% } %>
                          </button>
                        </div>
                    </div>
                    <% if (orders.orderStatus === 'Cancel Requested') { %>
                      <div class="alert alert-success" role="alert">
                        Cancel request initiated. If the amount has been paid online, the seller will verify it, and the amount will be credited to your wallet within 7 days.
                      </div>
                    <% } %>
                    <% if (orders.orderStatus === 'Return Requested') { %>
                      <div class="alert alert-success" role="alert">
                        Return request initiated, once the product is received and verified by the seller, the refund amount will be credited to your wallet.
                      </div>
                    <% } %>
                    <% if (orders.refunded) { %>
                      <hr>
                      <h6>Refund Details</h6>
                      <div class="alert alert-success" role="alert">
                       ₹<%= orders.total %>.00 is credited to your wallet
                      </div>
                    <% } %>
                    
                    
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0" style="color: #1a1017;">Order Details</p>
                  <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                </div>
                
                <div class="card-body">
                    <% orders.products.forEach(product => { %>
                        <a href="/product?productId=<%= product.product._id %>">
                            <div class="row mb-3">
                                <div class="col-md-1">
                                  <img src="/<%= product.product.image[0] %>"
                                    class="img-fluid" alt="Phone" style="height: 60px; width: 55px;">
                                </div>
                                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0"><%= product.product.title %></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small"><%= product.size %></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small"><%= product.product.brand %></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Qty: <%= product.quantity %> </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">₹<%= product.quantity * product.product.MRP %>.00</p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
                
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                <div class="row">
                    <div class="col-9">
                        <div class=" pt-2">
                            <p class="fw-bold mb-3">Delivery Addres</p>
                            <h6 class="mb-2 fw-bold"><%= orders.address.name %></h6>
                            <p class="mb-1"><%= orders.address.address %></p>
                            <p class="mb-1"><%= orders.address.city %>, <%= orders.address.state %></p>
                            <p class="mb-1"><%= orders.address.country %>, <%= orders.address.pincode %></p>
                            <p class="mb-3 fw-bold"><%= orders.address.mobileNumber %></p>
                            
                        </div>
                    </div>
                    <div class=" col-3 mr-3">
                        <div class="mb-2 mr-3">
                            <div class="d-flex justify-content-between">
                                <p>Subtotal:</p>
                                <p>₹<%= subtotal %>.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Discount:</p>
                                <p>-₹<%= orders.discount %>.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Delivery Charge:</p>
                                <p>₹40.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold">Total:</p>
                                <p class="fw-bold">₹<%= orders.total %>.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>

        </div>
      
    </div>
    
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmationModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <% if (orders.orderStatus === 'Delivered') { %>
              <div class="form-group p-3">
                <div class="mb-1">
                  <textarea class="form-control" id="reason" name="reason" required rows="3" placeholder="Reason for returning the product"></textarea>
                </div>
                <small id="reasonError" class="text-danger" style="display: none;">Enter the reason for returning the product</small>
              </div>
              <div class="modal-body mt-0 mb-2 py-0">
                Are you really sure you want to return the product?
              </div>
            <% } else { %>
              <div class="form-group p-3">
                <div class="mb-1">
                  <textarea class="form-control" id="reason" name="reason" required rows="3" placeholder="Reason for cancelling the product"></textarea>
                </div>
                <small id="reasonError" class="text-danger" style="display: none;">Enter the reason for cancelling the product</small>
              </div>
              <div class="modal-body mt-0 mb-2 py-0">
                Are you really sure you want to cancel?
            </div>
            <% } %>
          

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="refresh()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateOrderStatus('<%= orders._id %>','<%= orders.orderStatus %>')" data-bs-dismiss="modal" id="confirmStatusChange">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function updateStatus(orderId){

        const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        const confirmButton = document.getElementById('confirmStatusChange');
        // console.log('hii');
        confirmationModal.show();
    }

    async function updateOrderStatus(orderId,orderStatus){
      const reasonField = document.getElementById('reason')
      const reason = reasonField.value;
      const reasonError = document.getElementById('reasonError')
      const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));

      if(reason === ''){
        reasonError.style.display = 'block';
        event.preventDefault();
        confirmationModal.static()
        return 
      }

        
        confirmationModal.hide();
        const data = { reason,orderStatus }

        const response = await fetch(`/cancelOrder?orderId=${orderId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json', // Set the content type to JSON
            },
            body: JSON.stringify(data),
        });
        window.location.reload()

        if (response.ok) {
            // Order status updated successfully
            console.log('Order status updated:', orderId);

            window.location.reload()
            confirmationModal.hide();
            
        } else {
            // Handle the error case, e.g., show an error message to the user
            console.error('Failed to update order status:', orderId);
        }
        
    }
</script>

<%- include('../partials/footer.ejs') %>